<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de república</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">

    <ion-list>

      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" formControlName="endereco"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Aluguel(R$)</ion-label>
        <ion-input type="text" name="money" formControlName="aluguel" [brmasker]="{money: true}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição da república</ion-label>
        <ion-input type="text" formControlName="descricao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Camas disponíveis</ion-label>
        <ion-input type="number" formControlName="vagasDisponiveis"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Título do anúncio</ion-label>
        <ion-input type="text" formControlName="anuncio"></ion-input>
      </ion-item>
      
    </ion-list>

    <ion-button type="submit" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>

  </form>

</ion-content>
