<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">

    <ion-list>

      <ion-item>
        <ion-input placeholder="nome completo" type="text" formControlName="name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input placeholder="login" type="text" formControlName="login"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input placeholder="senha" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="confirmar senha" type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="email" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="telefone" type="tel" formControlName="phone"></ion-input>
      </ion-item>

      <ion-radio-group formControlName="typeOfCustomer">

        <!-- removi ion-list-header  -->    
        <ion-item>

          <ion-label>Locador</ion-label>
          <ion-radio slot="start" value="locador"></ion-radio>

        </ion-item>

        <ion-item>

          <ion-label>Locatário</ion-label>
          <ion-radio slot="start" value="locatario"></ion-radio>

        </ion-item>

      </ion-radio-group>
      
    </ion-list>

    <ion-button type="submit" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>

  </form>

</ion-content>
