<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>República Ilha do Fundão</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <img src="./../../assets/images/foto_republica.jpg">
      Alugo vaga em quarto compartilhado para alunos da UFRJ- Ilha do Fundão. Ótima localização, espaço familiar, cozinha completa com fogão, geladeira e microondas. Interessados adicionar contato no whatsapp para mais informações(61 98393-3550).
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        República Ilha do Governador
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="./../../assets/images/foto_republica.jpg">
      República na ilha do governador com 4 quartos compartilhados(2 suítes) mobiliado, com ar condicionado e wi-fi. Cozinha completamente equipada (microondas, geladeira, mesa e fogão).
    </ion-card-content>
  </ion-card>
