<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>República Ilha do Fundão</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-card-subtitle>R$850/mês</ion-card-subtitle>
      <img src="./../../assets/images/foto_republica.jpg">
      <br>
      Alugo vaga em quarto compartilhado para alunos da UFRJ- Ilha do Fundão. Ótima localização, espaço familiar, cozinha completa com fogão, geladeira e microondas. Interessados adicionar contato no whatsapp para mais informações(61 98393-3550).
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>República Ilha do Governador</ion-card-title>
    </ion-card-header>
    

    <ion-card-content>
      <ion-card-subtitle>R$850/mês</ion-card-subtitle>
      <img src="./../../assets/images/foto_republica2.jpg">
      <br>
      Alugo um quarto individual em ambiente tranquilo, com entrada independente. Cozinha, sala e 2 banheiros de uso
      compartilhado. Excelente localização em rua fechada, monitorada por câmeras, próximo ao Shopping Ilha Plaza,
      padaria, restaurante, mercado, etc.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>
        República Ilha do Governador
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>R$900/mês</ion-card-subtitle>
      <img src="./../../assets/images/foto_republica3.jpg">
      <br>
      República na ilha do governador com 4 quartos compartilhados(2 suítes) mobiliado, com ar condicionado e wi-fi. Cozinha completamente equipada (microondas, geladeira, mesa e fogão).
    </ion-card-content>
  </ion-card>
