<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-title class="logo">Hommy</ion-title>
  <ion-card><img src="./../../assets/images/mobile_background.jpg"></ion-card>
  <h2>Encontre o seu lar</h2>
  <h3>Onde você quer morar?</h3>
  <ion-searchbar placeholder="insira a região"></ion-searchbar>
  <div class="separador"></div>
  <ion-label position="stacked">Fale conosco</ion-label>
  <ion-input></ion-input>
  <div class = "separador"></div>
  <ion-footer>Sobre nós</ion-footer>
</ion-content>
