<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-title class="logo">Hommy</ion-title>
  <ion-card><img src="./../../assets/images/mobile_background.jpg"></ion-card>
  <h2>Encontre o seu lar</h2>
  <h3>Onde você quer morar?</h3>
  <ion-searchbar placeholder="insira a região"></ion-searchbar>
  <div class="separador"></div>
  <h4>A nossa plataforma se orgulha em conectar estudantes que precisam escolher uma república para o inicio de sua carreira</h4>
  <br>
  <h4>Nossa missão é te oferecer as melhores opções para integração no meio acadêmico</h4>
  <br>
  <h4>Aproveite as inúmeras ofertas e escolha a república ideal para você, sem sair de casa</h4>
  <br>
  
  <h1>Dados da republica</h1>
  <h2>{{dadosDoDorm.number_of_rooms}}</h2>
  <h3>Fale conosco</h3>
  <br>
  <ion-label position = stacked>Email:</ion-label>
  <ion-input></ion-input>
  <ion-label position=stacked>Insira sua mensagem:</ion-label>
  <ion-input></ion-input>
  <div class = "separador"></div>
</ion-content>
