.logo{
  font-family: Pacifico, cursive;
  --color: #fe5b00;
  opacity: 90%;
  font-size: 5rem;
}

ion-searchbar{
  --background: #fe5b00;
  --color: black;
}

h2{
  margin-top:3vw;
  margin-bottom:3vw;
  justify-self: center;
}

.separador{
  --color: #fe5b00;
  --height: 1vh;
}