.logo{
  font-family: Pacifico, cursive;
  --color: #fe5b00;
  opacity: 90%;
  font-size: 5rem;
  text-align: center;
}

ion-searchbar{
  margin-bottom: 5vw;
}

h4{
  margin-bottom:3vw;
}

ion-input{
  --background: grey;
}

h2{
  margin-top:3vw;
  margin-bottom:3vw;
  text-align: center;
}

.separador{
  --color: #fe5b00;
  --height: 1vh;
}